@font-face {
    font-family: 'Gmarket';
    src: url('../public/GmarketSansTTFBold.ttf');
}

@font-face {
    font-family: 'Staatliches';
    src: url('../public/Staatliches-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #ececec;
}

button {
    color: #ececec;
}
